asgiref
certifi
crispy-bootstrap5
distlib
Django>=5.0.6
django-crispy-forms
django-environ
django-phone-field
filelock
MouseInfo
numpy
opencv-contrib-python
pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
setuptools
sqlparse
tzdata
virtualenv